<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%%= content_for?(:title) ? yield(:title) : "<%= app_name %>" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%%= csrf_meta_tags %>
    <%%= yield(:head) %>

    <%%= stylesheet_link_tag "application", :media => "all" %>
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <%- if layout_type == "fluid" -%>
          <div class="container-fluid">
        <%- else -%>
          <div class="container">
        <%- end -%>
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
  <%- if layout_type == "fluid" -%>
    <div class="container-fluid">
  <%- else -%>
    <div class="container">
  <%- end -%>
    <%- if layout_type == "fluid" -%>
      <div class="row-fluid">
    <%- else -%>
      <div class="row">
    <%- end -%>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
            <%- (1..3).each do |i| -%>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            <% end %>
              <li class="nav-header">Sidebar</li>
            <%- (1..3).each do |i| -%>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            <% end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <%%= content_tag :h1, yield(:title) if show_title %>
          <%%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p><%%= app_name %> &copy;  <%= Time.now.year %></p>
      </footer>

    </div><!--/.fluid-container-->
    
    <%%= javascript_include_tag "application" %>

  </body>
</html>